//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 27 02:30:47 2024
//! **************************************************************************

SCHEMATIC START;
COMP "RsetB<0>" LOCATE = SITE "A14" LEVEL 1;
COMP "RsetB<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "RsetB<2>" LOCATE = SITE "A7" LEVEL 1;
COMP "RsetB<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "CSB<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "CSB<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "CSB<2>" LOCATE = SITE "D8" LEVEL 1;
COMP "CSB<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "CSB<4>" LOCATE = SITE "D11" LEVEL 1;
COMP "CSB<5>" LOCATE = SITE "D14" LEVEL 1;
COMP "CSB<6>" LOCATE = SITE "D17" LEVEL 1;
COMP "CSB<7>" LOCATE = SITE "D18" LEVEL 1;
COMP "CSB<8>" LOCATE = SITE "B2" LEVEL 1;
COMP "CSB<9>" LOCATE = SITE "B3" LEVEL 1;
COMP "Fast_SetR<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "Fast_SetR<1>" LOCATE = SITE "C11" LEVEL 1;
COMP "Fast_SetR<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "Fast_SetR<3>" LOCATE = SITE "C10" LEVEL 1;
COMP "Fast_SetT<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "Fast_SetT<1>" LOCATE = SITE "C13" LEVEL 1;
COMP "Fast_SetT<2>" LOCATE = SITE "A3" LEVEL 1;
COMP "Fast_SetT<3>" LOCATE = SITE "C9" LEVEL 1;
COMP "clk_in" LOCATE = SITE "U10" LEVEL 1;
COMP "Module_EN" LOCATE = SITE "V11" LEVEL 1;
COMP "Module_RX" LOCATE = SITE "V13" LEVEL 1;
COMP "Module_TX" LOCATE = SITE "V12" LEVEL 1;
COMP "Module_SDO_P" LOCATE = SITE "U7" LEVEL 1;
COMP "Fast_TR<0>" LOCATE = SITE "A15" LEVEL 1;
COMP "Fast_TR<1>" LOCATE = SITE "A16" LEVEL 1;
COMP "Fast_TR<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "Fast_TR<3>" LOCATE = SITE "C4" LEVEL 1;
COMP "Module_clk_P" LOCATE = SITE "T6" LEVEL 1;
COMP "CSB<10>" LOCATE = SITE "B4" LEVEL 1;
COMP "CSB<11>" LOCATE = SITE "B6" LEVEL 1;
COMP "CSB<12>" LOCATE = SITE "B8" LEVEL 1;
COMP "CSB<13>" LOCATE = SITE "B9" LEVEL 1;
COMP "CSB<14>" LOCATE = SITE "B11" LEVEL 1;
COMP "CSB<15>" LOCATE = SITE "B12" LEVEL 1;
COMP "MISO<0>" LOCATE = SITE "A13" LEVEL 1;
COMP "MISO<1>" LOCATE = SITE "C17" LEVEL 1;
COMP "MISO<2>" LOCATE = SITE "A6" LEVEL 1;
COMP "MISO<3>" LOCATE = SITE "C6" LEVEL 1;
COMP "SCLK<0>" LOCATE = SITE "A12" LEVEL 1;
COMP "SCLK<1>" LOCATE = SITE "C15" LEVEL 1;
COMP "SCLK<2>" LOCATE = SITE "A5" LEVEL 1;
COMP "SCLK<3>" LOCATE = SITE "C7" LEVEL 1;
COMP "MOSI<0>" LOCATE = SITE "A11" LEVEL 1;
COMP "MOSI<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "MOSI<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "MOSI<3>" LOCATE = SITE "C8" LEVEL 1;
SCHEMATIC END;

