
# PlanAhead Generated physical constraints 

NET "CSB[1]" LOC = D6;
NET "CSB[2]" LOC = D8;
NET "CSB[8]" LOC = B2;
NET "CSB[9]" LOC = B3;
NET "CSB[10]" LOC = B4;

# PlanAhead Generated IO constraints 

NET "Fast_SetR[3]" IOSTANDARD = LVCMOS18;
NET "Fast_SetR[2]" IOSTANDARD = LVCMOS18;
NET "Fast_SetR[1]" IOSTANDARD = LVCMOS18;
NET "Fast_SetR[0]" IOSTANDARD = LVCMOS18;
NET "Fast_SetT[3]" IOSTANDARD = LVCMOS18;
NET "Fast_SetT[2]" IOSTANDARD = LVCMOS18;
NET "Fast_SetT[1]" IOSTANDARD = LVCMOS18;
NET "Fast_SetT[0]" IOSTANDARD = LVCMOS18;
NET "Fast_TR[3]" IOSTANDARD = LVCMOS18;
NET "Fast_TR[2]" IOSTANDARD = LVCMOS18;
NET "Fast_TR[1]" IOSTANDARD = LVCMOS18;
NET "Fast_TR[0]" IOSTANDARD = LVCMOS18;
NET "MISO[3]" IOSTANDARD = LVCMOS18;
NET "MISO[2]" IOSTANDARD = LVCMOS18;
NET "MISO[1]" IOSTANDARD = LVCMOS18;
NET "MISO[0]" IOSTANDARD = LVCMOS18;
NET "MOSI[3]" IOSTANDARD = LVCMOS18;
NET "MOSI[2]" IOSTANDARD = LVCMOS18;
NET "MOSI[1]" IOSTANDARD = LVCMOS18;
NET "MOSI[0]" IOSTANDARD = LVCMOS18;
NET "RsetB[3]" IOSTANDARD = LVCMOS18;
NET "RsetB[2]" IOSTANDARD = LVCMOS18;
NET "RsetB[1]" IOSTANDARD = LVCMOS18;
NET "RsetB[0]" IOSTANDARD = LVCMOS18;
NET "SCLK[3]" IOSTANDARD = LVCMOS18;
NET "SCLK[2]" IOSTANDARD = LVCMOS18;
NET "SCLK[1]" IOSTANDARD = LVCMOS18;
NET "SCLK[0]" IOSTANDARD = LVCMOS18;
NET "CSB[15]" IOSTANDARD = LVCMOS18;
NET "CSB[14]" IOSTANDARD = LVCMOS18;
NET "CSB[13]" IOSTANDARD = LVCMOS18;
NET "CSB[12]" IOSTANDARD = LVCMOS18;
NET "CSB[11]" IOSTANDARD = LVCMOS18;
NET "CSB[10]" IOSTANDARD = LVCMOS18;
NET "CSB[9]" IOSTANDARD = LVCMOS18;
NET "CSB[8]" IOSTANDARD = LVCMOS18;
NET "CSB[7]" IOSTANDARD = LVCMOS18;
NET "CSB[6]" IOSTANDARD = LVCMOS18;
NET "CSB[5]" IOSTANDARD = LVCMOS18;
NET "CSB[4]" IOSTANDARD = LVCMOS18;
NET "CSB[3]" IOSTANDARD = LVCMOS18;
NET "CSB[2]" IOSTANDARD = LVCMOS18;
NET "CSB[1]" IOSTANDARD = LVCMOS18;
NET "CSB[0]" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "Fast_SetR[2]" LOC = A2;
NET "Fast_SetT[2]" LOC = A3;
NET "MISO[3]" LOC = C6;
NET "MOSI[3]" LOC = C8;
NET "RsetB[3]" LOC = C5;
NET "RsetB[2]" LOC = A7;
NET "SCLK[3]" LOC = C7;
NET "CSB[12]" LOC = B8;
NET "Fast_TR[2]" LOC = A8;
NET "CSB[3]" LOC = D9;
NET "Fast_SetT[3]" LOC = C9;
NET "CSB[13]" LOC = B9;
NET "CSB[4]" LOC = D11;
NET "Fast_SetR[0]" LOC = A9;
NET "Fast_SetR[1]" LOC = C11;
NET "Fast_SetR[3]" LOC = C10;
NET "Fast_SetT[0]" LOC = A10;
NET "CSB[0]" LOC = F9;
NET "CSB[14]" LOC = B11;
NET "MOSI[0]" LOC = A11;
NET "CSB[15]" LOC = B12;
NET "SCLK[0]" LOC = A12;
NET "Fast_SetT[1]" LOC = C13;
NET "MISO[0]" LOC = A13;
NET "RsetB[0]" LOC = A14;
NET "SCLK[1]" LOC = C15;
NET "Fast_TR[0]" LOC = A15;
NET "CSB[5]" LOC = D14;
NET "MOSI[1]" LOC = C14;
NET "Fast_TR[1]" LOC = A16;
NET "MISO[1]" LOC = C17;
NET "RsetB[1]" LOC = C18;
NET "CSB[6]" LOC = D17;
NET "CSB[7]" LOC = D18;
NET "CSB[11]" LOC = B6;
NET "Fast_TR[3]" LOC = C4;
NET "MOSI[2]" LOC = A4;
NET "MISO[2]" LOC = A6;
NET "SCLK[2]" LOC = A5;
NET "Module_RX" LOC = V13;
NET "Module_EN" LOC = V11;

# PlanAhead Generated IO constraints 

NET "Module_RX" IOSTANDARD = LVCMOS33;
NET "Module_EN" IOSTANDARD = LVCMOS33;
NET "clk_in" IOSTANDARD = LVCMOS33;
NET "Module_TX" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "Module_clk_P" LOC = T6;
NET "Module_SDO_P" LOC = U7;
NET "Module_TX" LOC = V12;
NET "clk_in" LOC = U10;
