NET "FEM_RX_ON[1]" LOC = B14;
NET "FEM_RX_ON[0]" LOC = B12;
NET "FEM_RX_ON[2]" LOC = C16;
NET "FEM_RX_ON[3]" LOC = F15;
NET "FEM_RX_ON[4]" LOC = H13;
NET "FEM_RX_ON[5]" LOC = J14;
NET "FEM_RX_ON[6]" LOC = K15;
NET "FEM_RX_ON[7]" LOC = N14;
NET "FEM_TX_ON[7]" LOC = M14;
NET "FEM_TX_ON[6]" LOC = K14;
NET "FEM_TX_ON[5]" LOC = J13;
NET "FEM_TX_ON[4]" LOC = F14;
NET "FEM_TX_ON[3]" LOC = E15;
NET "FEM_TX_ON[2]" LOC = C15;
NET "FEM_TX_ON[1]" LOC = C13;
NET "FEM_TX_ON[0]" LOC = A11;
NET "PE44951_CS[0]" LOC = B16;
NET "PE44951_CS[1]" LOC = J16;
NET "PE44951_CS[2]" LOC = R15;
NET "PE44951_CS[3]" LOC = R9;
NET "PE44951_CS[4]" LOC = D12;
NET "PE44951_CS[6]" LOC = H14;
NET "PE44951_CS[7]" LOC = L14;
NET "PE44951_CS[5]" LOC = E13;
NET "PE44951_LP[0]" LOC = M16;
NET "PE44951_LP[1]" LOC = R16;
NET "PE44951_MISO[0]" LOC = B15;
NET "PE44951_MISO[1]" LOC = H16;
NET "PE44951_MISO[2]" LOC = T15;
NET "PE44951_MISO[3]" LOC = T12;
NET "PE44951_MISO[4]" LOC = A14;
NET "PE44951_MISO[5]" LOC = F16;
NET "PE44951_MISO[6]" LOC = P15;
NET "PE44951_MISO[7]" LOC = R12;
NET "PE44951_MOSI[0]" LOC = D16;
NET "PE44951_MOSI[1]" LOC = K16;
NET "PE44951_MOSI[2]" LOC = T14;
NET "PE44951_MOSI[3]" LOC = T9;
NET "PE44951_MOSI[4]" LOC = A13;
NET "PE44951_MOSI[5]" LOC = E16;
NET "PE44951_MOSI[6]" LOC = P16;
NET "PE44951_MOSI[7]" LOC = T13;
NET "PE44951_SCLK[0]" LOC = L16;
NET "PE44951_SCLK[1]" LOC = G16;
NET "clk_in" LOC = T7;
NET "DEV_MODE" LOC = P2;
NET "FEM_LNA_BYPASS" LOC = N16;
NET "HOST_LE" LOC = E2;
NET "HOST_SCLK" LOC = G1;
NET "HOST_SDI" LOC = F1;
NET "MCU_DATA" LOC = P4;
NET "MCU_DCLK" LOC = R1;
NET "MCU_FCLK" LOC = P1;
NET "MCU_INIT" LOC = N1;
NET "MCU_LE" LOC = L1;
NET "MCU_PLUG" LOC = T4;
NET "PE44951_Rset" LOC = H15;
NET "REV1" LOC = C1;
NET "REV2" LOC = B1;
NET "RX_ON" LOC = C2;
NET "TX_ON" LOC = D1;
NET "UPDATE" LOC = E1;
NET "IF_DSA_LE[0]" LOC = B5;
NET "IF_DSA_LE[1]" LOC = A10;
NET "IF_DSA_DIN[0]" LOC = A5;
NET "IF_DSA_DIN[1]" LOC = A6;
NET "IF_DSA_DIN[2]" LOC = B6;
NET "IF_DSA_DIN[3]" LOC = B8;
NET "IF_DSA_DIN[4]" LOC = D9;
NET "IF_DSA_DIN[5]" LOC = C9;
NET "IF_DSA_DIN[6]" LOC = A9;
NET "IF_DSA_DIN[7]" LOC = A8;
NET "IF_DSA_DIN[8]" LOC = A7;
NET "IF_DSA_DIN[9]" LOC = B3;
NET "IF_DSA_DIN[10]" LOC = B2;
NET "IF_DSA_DIN[11]" LOC = A2;
NET "IF_RX_ON" LOC = C5;
NET "IF_TX_ON" LOC = C3;
NET "PE44951_MISO[7]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[6]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[5]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[4]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[3]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[2]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[1]" IOSTANDARD = LVCMOS33;
NET "PE44951_MISO[0]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[7]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[7]" DRIVE = 12;
NET "PE44951_CS[7]" SLEW = SLOW;
NET "PE44951_CS[6]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[6]" DRIVE = 12;
NET "PE44951_CS[6]" SLEW = SLOW;
NET "PE44951_CS[5]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[5]" DRIVE = 12;
NET "PE44951_CS[5]" SLEW = SLOW;
NET "PE44951_CS[4]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[4]" DRIVE = 12;
NET "PE44951_CS[4]" SLEW = SLOW;
NET "PE44951_CS[3]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[3]" DRIVE = 12;
NET "PE44951_CS[3]" SLEW = SLOW;
NET "PE44951_CS[2]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[2]" DRIVE = 12;
NET "PE44951_CS[2]" SLEW = SLOW;
NET "PE44951_CS[1]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[1]" DRIVE = 12;
NET "PE44951_CS[1]" SLEW = SLOW;
NET "PE44951_CS[0]" IOSTANDARD = LVCMOS33;
NET "PE44951_CS[0]" DRIVE = 12;
NET "PE44951_CS[0]" SLEW = SLOW;
NET "PE44951_SCLK[1]" IOSTANDARD = LVCMOS33;
NET "PE44951_SCLK[1]" DRIVE = 12;
NET "PE44951_SCLK[1]" SLEW = SLOW;
NET "PE44951_SCLK[0]" IOSTANDARD = LVCMOS33;
NET "PE44951_SCLK[0]" DRIVE = 12;
NET "PE44951_SCLK[0]" SLEW = SLOW;
NET "PE44951_MOSI[7]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[7]" DRIVE = 12;
NET "PE44951_MOSI[7]" SLEW = SLOW;
NET "PE44951_MOSI[6]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[6]" DRIVE = 12;
NET "PE44951_MOSI[6]" SLEW = SLOW;
NET "PE44951_MOSI[5]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[5]" DRIVE = 12;
NET "PE44951_MOSI[5]" SLEW = SLOW;
NET "PE44951_MOSI[4]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[4]" DRIVE = 12;
NET "PE44951_MOSI[4]" SLEW = SLOW;
NET "PE44951_MOSI[3]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[3]" DRIVE = 12;
NET "PE44951_MOSI[3]" SLEW = SLOW;
NET "PE44951_MOSI[2]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[2]" DRIVE = 12;
NET "PE44951_MOSI[2]" SLEW = SLOW;
NET "PE44951_MOSI[1]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[1]" DRIVE = 12;
NET "PE44951_MOSI[1]" SLEW = SLOW;
NET "PE44951_MOSI[0]" IOSTANDARD = LVCMOS33;
NET "PE44951_MOSI[0]" DRIVE = 12;
NET "PE44951_MOSI[0]" SLEW = SLOW;
NET "PE44951_LP[1]" IOSTANDARD = LVCMOS33;
NET "PE44951_LP[1]" DRIVE = 12;
NET "PE44951_LP[1]" SLEW = SLOW;
NET "PE44951_LP[0]" IOSTANDARD = LVCMOS33;
NET "PE44951_LP[0]" DRIVE = 12;
NET "PE44951_LP[0]" SLEW = SLOW;
NET "FEM_TX_ON[7]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[7]" DRIVE = 12;
NET "FEM_TX_ON[7]" SLEW = SLOW;
NET "FEM_TX_ON[6]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[6]" DRIVE = 12;
NET "FEM_TX_ON[6]" SLEW = SLOW;
NET "FEM_TX_ON[5]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[5]" DRIVE = 12;
NET "FEM_TX_ON[5]" SLEW = SLOW;
NET "FEM_TX_ON[4]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[4]" DRIVE = 12;
NET "FEM_TX_ON[4]" SLEW = SLOW;
NET "FEM_TX_ON[3]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[3]" DRIVE = 12;
NET "FEM_TX_ON[3]" SLEW = SLOW;
NET "FEM_TX_ON[2]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[2]" DRIVE = 12;
NET "FEM_TX_ON[2]" SLEW = SLOW;
NET "FEM_TX_ON[1]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[1]" DRIVE = 12;
NET "FEM_TX_ON[1]" SLEW = SLOW;
NET "FEM_TX_ON[0]" IOSTANDARD = LVCMOS33;
NET "FEM_TX_ON[0]" DRIVE = 12;
NET "FEM_TX_ON[0]" SLEW = SLOW;
NET "FEM_RX_ON[7]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[7]" DRIVE = 12;
NET "FEM_RX_ON[7]" SLEW = SLOW;
NET "FEM_RX_ON[6]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[6]" DRIVE = 12;
NET "FEM_RX_ON[6]" SLEW = SLOW;
NET "FEM_RX_ON[5]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[5]" DRIVE = 12;
NET "FEM_RX_ON[5]" SLEW = SLOW;
NET "FEM_RX_ON[4]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[4]" DRIVE = 12;
NET "FEM_RX_ON[4]" SLEW = SLOW;
NET "FEM_RX_ON[3]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[3]" DRIVE = 12;
NET "FEM_RX_ON[3]" SLEW = SLOW;
NET "FEM_RX_ON[2]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[2]" DRIVE = 12;
NET "FEM_RX_ON[2]" SLEW = SLOW;
NET "FEM_RX_ON[1]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[1]" DRIVE = 12;
NET "FEM_RX_ON[1]" SLEW = SLOW;
NET "FEM_RX_ON[0]" IOSTANDARD = LVCMOS33;
NET "FEM_RX_ON[0]" DRIVE = 12;
NET "FEM_RX_ON[0]" SLEW = SLOW;
NET "IF_DSA_LE[1]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_LE[1]" DRIVE = 12;
NET "IF_DSA_LE[1]" SLEW = SLOW;
NET "IF_DSA_LE[0]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_LE[0]" DRIVE = 12;
NET "IF_DSA_LE[0]" SLEW = SLOW;
NET "IF_DSA_DIN[11]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[11]" DRIVE = 12;
NET "IF_DSA_DIN[11]" SLEW = SLOW;
NET "IF_DSA_DIN[10]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[10]" DRIVE = 12;
NET "IF_DSA_DIN[10]" SLEW = SLOW;
NET "IF_DSA_DIN[9]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[9]" DRIVE = 12;
NET "IF_DSA_DIN[9]" SLEW = SLOW;
NET "IF_DSA_DIN[8]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[8]" DRIVE = 12;
NET "IF_DSA_DIN[8]" SLEW = SLOW;
NET "IF_DSA_DIN[7]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[7]" DRIVE = 12;
NET "IF_DSA_DIN[7]" SLEW = SLOW;
NET "IF_DSA_DIN[6]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[6]" DRIVE = 12;
NET "IF_DSA_DIN[6]" SLEW = SLOW;
NET "IF_DSA_DIN[5]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[5]" DRIVE = 12;
NET "IF_DSA_DIN[5]" SLEW = SLOW;
NET "IF_DSA_DIN[4]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[4]" DRIVE = 12;
NET "IF_DSA_DIN[4]" SLEW = SLOW;
NET "IF_DSA_DIN[3]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[3]" DRIVE = 12;
NET "IF_DSA_DIN[3]" SLEW = SLOW;
NET "IF_DSA_DIN[2]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[2]" DRIVE = 12;
NET "IF_DSA_DIN[2]" SLEW = SLOW;
NET "IF_DSA_DIN[1]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[1]" DRIVE = 12;
NET "IF_DSA_DIN[1]" SLEW = SLOW;
NET "IF_DSA_DIN[0]" IOSTANDARD = LVCMOS33;
NET "IF_DSA_DIN[0]" DRIVE = 12;
NET "IF_DSA_DIN[0]" SLEW = SLOW;
NET "HOST_SCLK" IOSTANDARD = LVCMOS33;
NET "HOST_SDI" IOSTANDARD = LVCMOS33;
NET "HOST_LE" IOSTANDARD = LVCMOS33;
NET "UPDATE" IOSTANDARD = LVCMOS33;
NET "TX_ON" IOSTANDARD = LVCMOS33;
NET "RX_ON" IOSTANDARD = LVCMOS33;
NET "REV1" IOSTANDARD = LVCMOS33;
NET "REV2" IOSTANDARD = LVCMOS33;
NET "MCU_FCLK" IOSTANDARD = LVCMOS33;
NET "MCU_DCLK" IOSTANDARD = LVCMOS33;
NET "MCU_PLUG" IOSTANDARD = LVCMOS33;
NET "MCU_DATA" IOSTANDARD = LVCMOS33;
NET "MCU_INIT" IOSTANDARD = LVCMOS33;
NET "MCU_LE" IOSTANDARD = LVCMOS33;
NET "clk_in" IOSTANDARD = LVCMOS33;
NET "DEV_MODE" IOSTANDARD = LVCMOS33;
NET "PE44951_Rset" IOSTANDARD = LVCMOS33;
NET "PE44951_Rset" DRIVE = 12;
NET "PE44951_Rset" SLEW = SLOW;
NET "FEM_LNA_BYPASS" IOSTANDARD = LVCMOS33;
NET "FEM_LNA_BYPASS" DRIVE = 12;
NET "FEM_LNA_BYPASS" SLEW = SLOW;
NET "IF_TX_ON" IOSTANDARD = LVCMOS33;
NET "IF_TX_ON" DRIVE = 12;
NET "IF_TX_ON" SLEW = SLOW;
NET "IF_RX_ON" IOSTANDARD = LVCMOS33;
NET "IF_RX_ON" DRIVE = 12;
NET "IF_RX_ON" SLEW = SLOW;

# PlanAhead Generated physical constraints 

NET "TX_ON_LED" LOC = H3;

# PlanAhead Generated IO constraints 

NET "TX_ON_LED" IOSTANDARD = LVCMOS33;
NET "RX_ON_LED" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "RX_ON_LED" LOC = F2;
