

NET "RX_B1_DSA[5]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[4]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[3]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[2]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[1]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[0]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[7]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[6]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[5]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[4]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[3]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[2]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[1]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[0]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[7]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[6]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[5]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[4]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[3]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[2]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[1]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[0]" IOSTANDARD = LVCMOS33;
NET "RX_B2_DSA[5]" IOSTANDARD = LVCMOS33;
NET "RX_B2_DSA[4]" IOSTANDARD = LVCMOS33;
NET "RX_B2_DSA[3]" IOSTANDARD = LVCMOS33;
NET "RX_B2_DSA[2]" IOSTANDARD = LVCMOS33;
NET "RX_B2_DSA[1]" IOSTANDARD = LVCMOS33;
NET "RX_B2_DSA[0]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[7]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[6]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[5]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[4]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[3]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[2]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[1]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LE[0]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[7]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[6]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[5]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[4]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[3]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[2]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[1]" IOSTANDARD = LVCMOS33;
NET "RX_B2_LNA_BYPASS[0]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[5]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[4]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[3]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[2]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[1]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[0]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[7]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[6]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[5]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[4]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[3]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[2]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[1]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[0]" IOSTANDARD = LVCMOS33;
NET "TX_B2_DSA[5]" IOSTANDARD = LVCMOS33;
NET "TX_B2_DSA[4]" IOSTANDARD = LVCMOS33;
NET "TX_B2_DSA[3]" IOSTANDARD = LVCMOS33;
NET "TX_B2_DSA[2]" IOSTANDARD = LVCMOS33;
NET "TX_B2_DSA[1]" IOSTANDARD = LVCMOS33;
NET "TX_B2_DSA[0]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[7]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[6]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[5]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[4]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[3]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[2]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[1]" IOSTANDARD = LVCMOS33;
NET "TX_B2_LE[0]" IOSTANDARD = LVCMOS33;


NET "RX_B1_DSA[5]" LOC = M3;
NET "RX_B1_DSA[4]" LOC = K6;
NET "RX_B1_DSA[3]" LOC = K5;
NET "RX_B1_DSA[2]" LOC = N5;
NET "RX_B1_DSA[1]" LOC = M1;
NET "RX_B1_DSA[0]" LOC = M2;
NET "RX_B1_LE[7]" LOC = N3;
NET "RX_B1_LE[6]" LOC = N1;
NET "RX_B1_LE[5]" LOC = P1;
NET "RX_B1_LE[4]" LOC = P2;
NET "RX_B1_LE[3]" LOC = R1;
NET "RX_B1_LE[2]" LOC = R2;
NET "RX_B1_LE[1]" LOC = N4;
NET "RX_B1_LE[0]" LOC = M4;
NET "RX_B1_LNA_BYPASS[7]" LOC = G3;
NET "RX_B1_LNA_BYPASS[6]" LOC = G5;
NET "RX_B1_LNA_BYPASS[5]" LOC = F2;
NET "RX_B1_LNA_BYPASS[4]" LOC = H3;
NET "RX_B1_LNA_BYPASS[3]" LOC = F1;
NET "RX_B1_LNA_BYPASS[2]" LOC = M6;
NET "RX_B1_LNA_BYPASS[1]" LOC = L7;
NET "RX_B1_LNA_BYPASS[0]" LOC = J6;
NET "RX_B2_DSA[5]" LOC = A9;
NET "RX_B2_DSA[4]" LOC = A5;
NET "RX_B2_DSA[3]" LOC = B5;
NET "RX_B2_DSA[2]" LOC = B3;
NET "RX_B2_DSA[1]" LOC = A10;
NET "RX_B2_DSA[0]" LOC = B10;


NET "RX_B2_LE[7]" LOC = A11;
NET "RX_B2_LE[6]" LOC = C11;
NET "RX_B2_LE[5]" LOC = A12;
NET "RX_B2_LE[4]" LOC = B12;
NET "RX_B2_LE[3]" LOC = C5;
NET "RX_B2_LE[2]" LOC = A6;
NET "RX_B2_LE[1]" LOC = B6;
NET "RX_B2_LE[0]" LOC = E7;
NET "RX_B2_LNA_BYPASS[7]" LOC = E2;
NET "RX_B2_LNA_BYPASS[6]" LOC = E1;
NET "RX_B2_LNA_BYPASS[5]" LOC = F3;
NET "RX_B2_LNA_BYPASS[4]" LOC = D5;
NET "RX_B2_LNA_BYPASS[3]" LOC = C3;
NET "RX_B2_LNA_BYPASS[2]" LOC = E3;
NET "RX_B2_LNA_BYPASS[1]" LOC = E4;
NET "RX_B2_LNA_BYPASS[0]" LOC = F4;
NET "TX_B1_DSA[5]" LOC = H2;
NET "TX_B1_DSA[4]" LOC = H1;
NET "TX_B1_DSA[3]" LOC = J4;
NET "TX_B1_DSA[2]" LOC = K3;
NET "TX_B1_DSA[1]" LOC = J3;
NET "TX_B1_DSA[0]" LOC = J1;
NET "TX_B1_LE[7]" LOC = K2;
NET "TX_B1_LE[6]" LOC = K1;
NET "TX_B1_LE[5]" LOC = L3;
NET "TX_B1_LE[4]" LOC = L1;
NET "TX_B1_LE[3]" LOC = L4;
NET "TX_B1_LE[2]" LOC = L5;
NET "TX_B1_LE[1]" LOC = M5;
NET "TX_B1_LE[0]" LOC = P6;
NET "TX_B2_DSA[5]" LOC = D3;
NET "TX_B2_DSA[4]" LOC = C1;
NET "TX_B2_DSA[3]" LOC = B1;
NET "TX_B2_DSA[2]" LOC = C2;
NET "TX_B2_DSA[1]" LOC = C6;
NET "TX_B2_DSA[0]" LOC = A7;
NET "TX_B2_LE[7]" LOC = B8;
NET "TX_B2_LE[6]" LOC = A8;
NET "TX_B2_LE[5]" LOC = C8;
NET "TX_B2_LE[4]" LOC = D8;
NET "TX_B2_LE[3]" LOC = A2;
NET "TX_B2_LE[2]" LOC = B2;
NET "TX_B2_LE[1]" LOC = A3;
NET "TX_B2_LE[0]" LOC = E6;


NET "CLK_SYS" IOSTANDARD = LVCMOS33;


NET "CLK_SYS" LOC = P8;
NET "MODE" LOC = K16;


NET "MODE" IOSTANDARD = LVCMOS33;


NET "MODE_MCU" LOC = E16;


NET "MODE_MCU" IOSTANDARD = LVCMOS33;


NET "PLUG_IN" LOC = T13;


NET "PLUG_IN" IOSTANDARD = LVCMOS33;


NET "REV" LOC = N16;
NET "REV1_MCU" LOC = E15;
NET "REV2_MCU" LOC = D16;
NET "RX_ON" LOC = M16;
NET "RX_ON_B1" LOC = G1;
NET "RX_ON_B2" LOC = D1;
NET "RX_ON_MCU" LOC = B15;
NET "RXD_HOST" LOC = T14;
# NET "RXD_MCU" LOC = B16;
NET "SPI_CLK" LOC = H16;
NET "SPI_CLK_MCU" LOC = G16;
NET "SPI_DATA" LOC = J16;
NET "SPI_DATA_MCU" LOC = H15;
NET "SPI_LE" LOC = P16;
NET "SPI_LE_MCU" LOC = F16;
NET "TX_ON" LOC = L16;
NET "TX_ON_B1" LOC = H5;
NET "TX_ON_B2" LOC = D6;
NET "TX_ON_MCU" LOC = C15;
NET "TXD_HOST" LOC = T15;
NET "TXD_MCU" LOC = C16;
NET "UPDATE" LOC = R16;
NET "UPDATE_MCU" LOC = F15;
NET "TX_LED" LOC = T9;
NET "RX_LED" LOC = T5;


NET "REV" IOSTANDARD = LVCMOS33;
NET "REV1_MCU" IOSTANDARD = LVCMOS33;
NET "REV2_MCU" IOSTANDARD = LVCMOS33;
NET "RX_ON" IOSTANDARD = LVCMOS33;
NET "RX_ON_B1" IOSTANDARD = LVCMOS33;
NET "RX_ON_B2" IOSTANDARD = LVCMOS33;
NET "RX_ON_MCU" IOSTANDARD = LVCMOS33;
NET "RXD_HOST" IOSTANDARD = LVCMOS33;
# NET "RXD_MCU" IOSTANDARD = LVCMOS33;
NET "SPI_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_CLK_MCU" IOSTANDARD = LVCMOS33;
NET "SPI_DATA" IOSTANDARD = LVCMOS33;
NET "SPI_DATA_MCU" IOSTANDARD = LVCMOS33;
NET "SPI_LE" IOSTANDARD = LVCMOS33;
NET "SPI_LE_MCU" IOSTANDARD = LVCMOS33;
NET "TX_ON" IOSTANDARD = LVCMOS33;
NET "TX_ON_B1" IOSTANDARD = LVCMOS33;
NET "TX_ON_B2" IOSTANDARD = LVCMOS33;
NET "TX_ON_MCU" IOSTANDARD = LVCMOS33;
NET "TXD_HOST" IOSTANDARD = LVCMOS33;
NET "TXD_MCU" IOSTANDARD = LVCMOS33;
NET "UPDATE" IOSTANDARD = LVCMOS33;
NET "UPDATE_MCU" IOSTANDARD = LVCMOS33;
NET "TX_LED" IOSTANDARD = LVCMOS33;
NET "RX_LED" IOSTANDARD = LVCMOS33;

NET "SPI_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
