//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 14 13:50:46 2025
//! **************************************************************************

SCHEMATIC START;
COMP "RX_B1_LE<0>" LOCATE = SITE "M4" LEVEL 1;
COMP "RX_B1_LE<1>" LOCATE = SITE "N4" LEVEL 1;
COMP "RX_B1_LE<2>" LOCATE = SITE "R2" LEVEL 1;
COMP "RX_B1_LE<3>" LOCATE = SITE "R1" LEVEL 1;
COMP "PLUG_IN" LOCATE = SITE "T13" LEVEL 1;
PIN PLUG_IN_pin<0> = BEL "PLUG_IN" PINNAME PAD;
PIN "PLUG_IN_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "RX_B1_DSA<0>" LOCATE = SITE "M2" LEVEL 1;
COMP "RX_B1_DSA<1>" LOCATE = SITE "M1" LEVEL 1;
COMP "RX_B1_DSA<2>" LOCATE = SITE "N5" LEVEL 1;
COMP "RX_B1_DSA<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "RX_B1_DSA<4>" LOCATE = SITE "K6" LEVEL 1;
COMP "RX_B1_DSA<5>" LOCATE = SITE "M3" LEVEL 1;
COMP "SPI_CLK" LOCATE = SITE "H16" LEVEL 1;
PIN SPI_CLK_pin<0> = BEL "SPI_CLK" PINNAME PAD;
PIN "SPI_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "REV" LOCATE = SITE "N16" LEVEL 1;
COMP "TXD_MCU" LOCATE = SITE "C16" LEVEL 1;
COMP "SPI_DATA" LOCATE = SITE "J16" LEVEL 1;
COMP "RXD_HOST" LOCATE = SITE "T14" LEVEL 1;
COMP "MODE" LOCATE = SITE "K16" LEVEL 1;
COMP "TXD_HOST" LOCATE = SITE "T15" LEVEL 1;
COMP "SPI_DATA_MCU" LOCATE = SITE "H15" LEVEL 1;
COMP "RX_ON_B1" LOCATE = SITE "G1" LEVEL 1;
COMP "TX_ON_B1" LOCATE = SITE "H5" LEVEL 1;
COMP "UPDATE_MCU" LOCATE = SITE "F15" LEVEL 1;
COMP "TX_B1_LE<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "TX_B1_LE<1>" LOCATE = SITE "M5" LEVEL 1;
COMP "TX_B1_LE<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "TX_B1_LE<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "RX_ON" LOCATE = SITE "M16" LEVEL 1;
COMP "TX_ON" LOCATE = SITE "L16" LEVEL 1;
COMP "SPI_LE_MCU" LOCATE = SITE "F16" LEVEL 1;
COMP "RX_ON_MCU" LOCATE = SITE "B15" LEVEL 1;
COMP "RX_B1_LNA_BYPASS<0>" LOCATE = SITE "J6" LEVEL 1;
COMP "RX_B1_LNA_BYPASS<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "RX_B1_LNA_BYPASS<2>" LOCATE = SITE "M6" LEVEL 1;
COMP "RX_B1_LNA_BYPASS<3>" LOCATE = SITE "F1" LEVEL 1;
COMP "TX_ON_MCU" LOCATE = SITE "C15" LEVEL 1;
COMP "TX_B1_DSA<0>" LOCATE = SITE "J1" LEVEL 1;
COMP "TX_B1_DSA<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "TX_B1_DSA<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "TX_B1_DSA<3>" LOCATE = SITE "J4" LEVEL 1;
COMP "TX_B1_DSA<4>" LOCATE = SITE "H1" LEVEL 1;
COMP "TX_B1_DSA<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "UPDATE" LOCATE = SITE "R16" LEVEL 1;
COMP "SPI_LE" LOCATE = SITE "P16" LEVEL 1;
COMP "RX_LED" LOCATE = SITE "T5" LEVEL 1;
COMP "TX_LED" LOCATE = SITE "T9" LEVEL 1;
COMP "SPI_CLK_MCU" LOCATE = SITE "G16" LEVEL 1;
COMP "CLK_SYS" LOCATE = SITE "P8" LEVEL 1;
COMP "MODE_MCU" LOCATE = SITE "E16" LEVEL 1;
COMP "REV1_MCU" LOCATE = SITE "E15" LEVEL 1;
COMP "REV2_MCU" LOCATE = SITE "D16" LEVEL 1;
SCHEMATIC END;

