NET "RX_B1_DSA[5]" LOC = M3;
NET "RX_B1_DSA[4]" LOC = K6;
NET "RX_B1_DSA[3]" LOC = K5;
NET "RX_B1_DSA[2]" LOC = N5;
NET "RX_B1_DSA[1]" LOC = M1;
NET "RX_B1_DSA[0]" LOC = M2;
NET "RX_B1_LE[3]" LOC = R1;
NET "RX_B1_LE[2]" LOC = R2;
NET "RX_B1_LE[1]" LOC = N4;
NET "RX_B1_LE[0]" LOC = M4;
NET "RX_B1_LNA_BYPASS[3]" LOC = F1;
NET "RX_B1_LNA_BYPASS[2]" LOC = M6;
NET "RX_B1_LNA_BYPASS[1]" LOC = L7;
NET "RX_B1_LNA_BYPASS[0]" LOC = J6;
NET "TX_B1_DSA[5]" LOC = H2;
NET "TX_B1_DSA[4]" LOC = H1;
NET "TX_B1_DSA[3]" LOC = J4;
NET "TX_B1_DSA[2]" LOC = K3;
NET "TX_B1_DSA[1]" LOC = J3;
NET "TX_B1_DSA[0]" LOC = J1;
NET "TX_B1_LE[3]" LOC = L4;
NET "TX_B1_LE[2]" LOC = L5;
NET "TX_B1_LE[1]" LOC = M5;
NET "TX_B1_LE[0]" LOC = P6;
NET "CLK_SYS" LOC = P8;
NET "MODE" LOC = K16;
NET "MODE_MCU" LOC = E16;
NET "PLUG_IN" LOC = T13;
NET "REV" LOC = N16;
NET "REV1_MCU" LOC = E15;
NET "REV2_MCU" LOC = D16;
NET "RX_ON" LOC = M16;
NET "RX_ON_B1" LOC = G1;
NET "RX_ON_MCU" LOC = B15;
NET "RXD_HOST" LOC = T14;
NET "SPI_CLK" LOC = H16;
NET "SPI_CLK_MCU" LOC = G16;
NET "SPI_DATA" LOC = J16;
NET "SPI_DATA_MCU" LOC = H15;
NET "SPI_LE" LOC = P16;
NET "SPI_LE_MCU" LOC = F16;
NET "TX_ON" LOC = L16;
NET "TX_ON_B1" LOC = H5;
NET "TX_ON_MCU" LOC = C15;
NET "TXD_HOST" LOC = T15;
NET "TXD_MCU" LOC = C16;
NET "UPDATE" LOC = R16;
NET "UPDATE_MCU" LOC = F15;
NET "TX_LED" LOC = T9;
NET "RX_LED" LOC = T5;
NET "TX_B1_DSA[5]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[5]" DRIVE = 12;
NET "TX_B1_DSA[5]" SLEW = SLOW;
NET "TX_B1_DSA[4]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[4]" DRIVE = 12;
NET "TX_B1_DSA[4]" SLEW = SLOW;
NET "TX_B1_DSA[3]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[3]" DRIVE = 12;
NET "TX_B1_DSA[3]" SLEW = SLOW;
NET "TX_B1_DSA[2]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[2]" DRIVE = 12;
NET "TX_B1_DSA[2]" SLEW = SLOW;
NET "TX_B1_DSA[1]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[1]" DRIVE = 12;
NET "TX_B1_DSA[1]" SLEW = SLOW;
NET "TX_B1_DSA[0]" IOSTANDARD = LVCMOS33;
NET "TX_B1_DSA[0]" DRIVE = 12;
NET "TX_B1_DSA[0]" SLEW = SLOW;
NET "TX_B1_LE[3]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[3]" DRIVE = 12;
NET "TX_B1_LE[3]" SLEW = SLOW;
NET "TX_B1_LE[2]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[2]" DRIVE = 12;
NET "TX_B1_LE[2]" SLEW = SLOW;
NET "TX_B1_LE[1]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[1]" DRIVE = 12;
NET "TX_B1_LE[1]" SLEW = SLOW;
NET "TX_B1_LE[0]" IOSTANDARD = LVCMOS33;
NET "TX_B1_LE[0]" DRIVE = 12;
NET "TX_B1_LE[0]" SLEW = SLOW;
NET "RX_B1_DSA[5]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[5]" DRIVE = 12;
NET "RX_B1_DSA[5]" SLEW = SLOW;
NET "RX_B1_DSA[4]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[4]" DRIVE = 12;
NET "RX_B1_DSA[4]" SLEW = SLOW;
NET "RX_B1_DSA[3]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[3]" DRIVE = 12;
NET "RX_B1_DSA[3]" SLEW = SLOW;
NET "RX_B1_DSA[2]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[2]" DRIVE = 12;
NET "RX_B1_DSA[2]" SLEW = SLOW;
NET "RX_B1_DSA[1]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[1]" DRIVE = 12;
NET "RX_B1_DSA[1]" SLEW = SLOW;
NET "RX_B1_DSA[0]" IOSTANDARD = LVCMOS33;
NET "RX_B1_DSA[0]" DRIVE = 12;
NET "RX_B1_DSA[0]" SLEW = SLOW;
NET "RX_B1_LE[3]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[3]" DRIVE = 12;
NET "RX_B1_LE[3]" SLEW = SLOW;
NET "RX_B1_LE[2]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[2]" DRIVE = 12;
NET "RX_B1_LE[2]" SLEW = SLOW;
NET "RX_B1_LE[1]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[1]" DRIVE = 12;
NET "RX_B1_LE[1]" SLEW = SLOW;
NET "RX_B1_LE[0]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LE[0]" DRIVE = 12;
NET "RX_B1_LE[0]" SLEW = SLOW;
NET "RX_B1_LNA_BYPASS[3]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[3]" DRIVE = 12;
NET "RX_B1_LNA_BYPASS[3]" SLEW = SLOW;
NET "RX_B1_LNA_BYPASS[2]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[2]" DRIVE = 12;
NET "RX_B1_LNA_BYPASS[2]" SLEW = SLOW;
NET "RX_B1_LNA_BYPASS[1]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[1]" DRIVE = 12;
NET "RX_B1_LNA_BYPASS[1]" SLEW = SLOW;
NET "RX_B1_LNA_BYPASS[0]" IOSTANDARD = LVCMOS33;
NET "RX_B1_LNA_BYPASS[0]" DRIVE = 12;
NET "RX_B1_LNA_BYPASS[0]" SLEW = SLOW;
NET "CLK_SYS" IOSTANDARD = LVCMOS33;
NET "CLK_SYS" IBUF_LOW_PWR = TRUE;
NET "SPI_DATA" IOSTANDARD = LVCMOS33;
NET "SPI_CLK" IOSTANDARD = LVCMOS33;
NET "SPI_LE" IOSTANDARD = LVCMOS33;
NET "UPDATE" IOSTANDARD = LVCMOS33;
NET "TX_ON" IOSTANDARD = LVCMOS33;
NET "RX_ON" IOSTANDARD = LVCMOS33;
NET "MODE" IOSTANDARD = LVCMOS33;
NET "REV" IOSTANDARD = LVCMOS33;
NET "TXD_HOST" IOSTANDARD = LVCMOS33;
NET "SPI_DATA_MCU" IOSTANDARD = LVCMOS33;
NET "SPI_CLK_MCU" IOSTANDARD = LVCMOS33;
NET "SPI_LE_MCU" IOSTANDARD = LVCMOS33;
NET "UPDATE_MCU" IOSTANDARD = LVCMOS33;
NET "TX_ON_MCU" IOSTANDARD = LVCMOS33;
NET "RX_ON_MCU" IOSTANDARD = LVCMOS33;
NET "MODE_MCU" IOSTANDARD = LVCMOS33;
NET "REV1_MCU" IOSTANDARD = LVCMOS33;
NET "REV2_MCU" IOSTANDARD = LVCMOS33;
NET "PLUG_IN" IOSTANDARD = LVCMOS33;
NET "TXD_MCU" IOSTANDARD = LVCMOS33;
NET "RXD_HOST" IOSTANDARD = LVCMOS33;
NET "RXD_HOST" DRIVE = 12;
NET "RXD_HOST" SLEW = SLOW;
NET "TX_LED" IOSTANDARD = LVCMOS33;
NET "TX_LED" DRIVE = 12;
NET "TX_LED" SLEW = SLOW;
NET "RX_LED" IOSTANDARD = LVCMOS33;
NET "RX_LED" DRIVE = 12;
NET "RX_LED" SLEW = SLOW;
NET "TX_ON_B1" IOSTANDARD = LVCMOS33;
NET "TX_ON_B1" DRIVE = 12;
NET "TX_ON_B1" SLEW = SLOW;
NET "RX_ON_B1" IOSTANDARD = LVCMOS33;
NET "RX_ON_B1" DRIVE = 12;
NET "RX_ON_B1" SLEW = SLOW;
NET "SPI_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PLUG_IN" CLOCK_DEDICATED_ROUTE = FALSE;
